
#myConentPadding {
	 padding: initial;
}

.sapMCrslTopOffset.sapMCrslTopArrowsOffset .sapMCrslItem {
    padding-top: 0;
}







.element.style {
    padding: initial;
}





